<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer" *ngIf="todos.length > 0">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count" [ngStyle]="{'color': tooMore ? 'red' : 'green'}"><strong>{{todos.length}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a [class.select]="filterType==='All'" (click)="changeFilterType('All')">All</a>
					</li>
					<li>
						<a [class.select]="filterType==='Active'" (click)="changeFilterType('Active')">Active</a>
					</li>
					<li>
						<a [class.select]="filterType==='Completed'" (click)="changeFilterType('Completed')">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" (click)="doClearcompleted()">Clear completed</button>
			</footer>
